.clocking-table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 30px;
  border-spacing: 0;
}

th, td {
  border: 1px solid black;
  padding: 1 px;
}
 